@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
body {background-color: #EEEEEE}
a {
  text-decoration: none;
  color: #7584AD;
  font-family: 'Ubuntu'; }

#header {
  background-color: #314570;
  color: #AED1D6;
     text-align: center;

}
#Container {
  background-color: white;
 width: 800px;
 margin-left: auto;
 margin-right: auto;
{background-color: #EEEEEE}
   text-align: center;
 }
 #content {
padding: 20px;
 }
 {!fix padding?}
 #nav {
   width: 180px;
   float:left;
 }
 #nav ul {
   list-style-type: none;
   padding: 0;
 }
 #nav .selected{
   font-weight: bold;}
   h1, h2, h3{
     margin: 0;
   }

 #main {
   width: 600px;
   width: 600px;
   float: right;
 }
#footer {
  clear: both;
  text-align: center;
}

*{
  padding: = 0;
  margin: 0;
  box-sizing: border-box;
}
img{
  width: 100%;
  height:100%;
  object-fit:cover;
}
html{
  font-family: 'Ubuntu';
  font-size: 14px;
}
section{
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
  background-color: rgb(26, 26, 27);

}
