
body {background-color: #EEEEEE}
a {
  text-decoration: none;
  color: #7584AD;
  font-family: Roboto; }

#header {
  background-color: #314570;
  color: #AED1D6;
     text-align: center;

}
#Container {
  background-color: white;
 width: 800px;
 margin-left: auto;
 margin-right: auto;
{background-color: #EEEEEE}
   text-align: center;
 }
 #content {
padding: 20px;
 }
 {!fix padding?}
 #nav {
   width: 180px;
   float:left;
 }
 #nav ul {
   list-style-type: none;
   padding: 0;
 }
 #nav .selected{
   font-weight: bold;}
   h1, h2, h3{
     margin: 0;
   }

 #main {
   width: 600px;
   width: 600px;
   float: right;
 }
#footer {
  clear: both;
  text-align: center;
}


.part-container {
  display: flex;
  margin: 0 auto;
  /* width: 760px; */
  width: 100%;
}



.part {
  flex: 1;
  margin: 0 16px;
}

.part-name-box {
  width: 100%;
}

.part-name {
  padding: 8px;
  width: 100%;
}

.part-name-box .arrow {
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid #231f20;

  width: 0;
  height: 0;

  display: block;
  margin: 0 auto;
}
